.name_sort {
  font-size: 26px;
  font-weight: bold;

  border-radius: 8px;
  background-color: rgb(121, 79, 145);
  color: aliceblue;
  padding: 20px 10px;
  font-size: 22px;
}

.sorting_list {
  padding: 20px;
  cursor: pointer;
}
